body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set height to fill the viewport */
    background-image: url('https://files.oaiusercontent.com/file-cbJr8tUlXj5kjNKkZqRysjDg?se=2024-05-29T10%3A02%3A38Z&sp=r&sv=2023-11-03&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3D53a26356-e1da-4e8b-8ffc-f2acb712306e.webp&sig=pTnLvcxEAfZ6kXLJgdpmywMbL327YkKU8vppRg7f42I%3D'); /* Path to your background image */
    background-size: cover; /* Cover the entire body */
    background-position: center; /* Center the background image */
    padding: 20px; /* Add padding for content */
}

/* Form styles */
.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity to the form background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form title */
.form h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

/* Input field styles */
.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
.button {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: #3614ce;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
.button:hover {
    background-color: #0056b3;
}

/* Back button styles */
.back-button {
    margin-top: 20px;
    background-color: #3614ce;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

/* Back button hover effect */
.back-button:hover {
    background-color: #3614ce;
}
