body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
}


.navbar1 {
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #333;
}

.navbar1 li {
    margin-right: 10px;
}

.navbar1 li a {
    text-decoration: none;
    color: #1a0dd1;
    padding: 10px;
}

.navbar1 li a:hover {
    background-color: #fff;
    color: #333;
}

main {
    padding: 20px;
    background-color: #c21818;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #15b638;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}