
div {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: white; /* Lighter gray for better contrast */
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

p {
    color: white; 
    font-size: 1.2em;
    margin-bottom: 1em;
    top: 200px;
}

.link-container {
    position: absolute;
    top: 30px;
    left: 10px; /* Changed from right to left */
    display: flex;
    gap: 10px;
}
a {
    color: #009BFF; /* Brighter blue for the links */
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.header {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    background-color: #add8e6; /* Light blue background */
    color: #0056b3; /* Brighter blue for the text */
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

