body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}
div {
    text-align: center;
    max-width: 600px;
    margin: auto;
}

h1 {
    color: #aaa; /* Lighter gray for better contrast */
    font-size: 2.5em;
    margin-bottom: 0.8em;
}

p {
    color: #aaa; /* Even lighter gray for better readability */
    font-size: 1.2em;
    margin-bottom: 1em;
    top: 200px;
}

.link-container {
    position: absolute;
    top: 30px;
    left: 10px; /* Changed from right to left */
    display: flex;
    gap: 10px;
}
a {
    color: #009BFF; /* Brighter blue for the links */
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

.search {
    position: absolute;
    top: 50px;
    right: 10px; /* Positioned at the right corner */
}


.search form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #4042e2;
}

.search input[type="search"] {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.search button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.search button:hover {
    background-color: #0056b3;
}

.header {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    background-color: #add8e6; /* Light blue background */
    color: #0056b3; /* Brighter blue for the text */
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #009BFF; /* Darker blue background on hover */
    color: #0056b3;
}