/* login.css */

/* Container */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* About link */
.about-link {
    position: absolute;
    top: 20px;
    right: 1700px;
    /* left: 40px; */
    color: #007bff;
    text-decoration: none;
    z-index: 1; /* Ensure it's above other elements */
}

/* Form */
.login-form {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Input fields */
.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Submit button */
.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Submit button hover effect */
.submit-button:hover {
    background-color: #0056b3;
}

/* Back button */
.back-button {
    /* Remove position, top, and right properties */
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1; /* Ensure it's above other elements */
}

/* Back button hover effect */
.back-button:hover {
    background-color: #bbb;
}
