.restaurantTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px white;
}


tr:nth-child {
    background-color: #3614ce;
}


td {
    font-size: 14px;
    color: rgb(255, 255, 255); /* Add this line */
}

tr:hover {
    background-color: #650a8f;
    cursor: pointer;
}

.back-button-RestaurantTable {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button-RestaurantTable button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    transition-duration: 0.4s; /* Transition */
}

.back-button-RestaurantTable button:hover {
    background-color: white; /* White background */
    color: black; /* Black text */
}

.detail-of-restaurant th {
    background-color: #3614ce;
    color: white;
}

.Back-button-restaurantPage {
    position: absolute;
    top: 20px;
    left: 20px;
}