.handleUpdateRestaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 50%;
    margin: auto;
}

.handleUpdateRestaurant form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.handleUpdateRestaurant label {
    font-size: 1em;
    margin-bottom: 5px;
    color: #333;
}

.handleUpdateRestaurant input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.9em;
}

.handleUpdateRestaurant button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

